.contenedorServicios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    padding-top: 200px;
    
    
   
   
}


.contenedorServicios div{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content:center ;
    border-radius: 5%;
    height: 220px;
    width: 305px;
    background-color: rgb(80, 121, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: ghostwhite;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    

}

.contenedorServicios div img{
    height: 180px;
    width: 280px;
    border-radius: 5%;
    
   

}


.agrandar{
    scale: 1.5;
    z-index: 100;
    
    transition: all 0.5s;
   
    
}

.achicar{
    scale: 1.2;
    opacity: 0.9;
    z-index: 99;
    transition: all 0.5s;
   
    
}

.achicar2{

    
    opacity: 0.85;
    z-index: 98;
    transition: all 0.5s;
    
    

}

.moverder{
    
    transition: all 0.9s;
    transform: translate(205px,0)
    
    
}

.moverizq{
    transition: all 0.5s;
    transform: translate(-307.5px,0) ;
}

.movertododer{
    
    transition: all 1s;
    transform: translate(-1230px,0);
}
.contenedorflechas{
    display: flex;
    align-items: center;
    justify-content:center;
 
   position: relative;
   top: 500px;

   
}


.contenedorflechas i{
font-size: 40px;
color: rgb(103, 96, 96);
}

.contenedorflechas button{
    border-style: none;
    background-color: #ffffff;
    margin: 0 20px;
}



@media screen and (max-width: 500px) {
  .contenedorServicios{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }
}