.navegador {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 200px 0 0;
    top: 0;

}







.lista {

    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 15px;
    padding: 2px 0;
}

.lista a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.819);
    font-weight: normal;
    font-size: 15px;
    line-height: 1.5rem;
    letter-spacing: 0.025cm;
    margin-left: 25px;

}

.lista a:hover {

    color: #0157c1;

}

#tresrayas,
.navegador label {
    display: none;
}

.navegador a i {
    font-size: 40px;
    padding-left: 8px;
    margin: 0;
    color: #0157c1;

}





.navegador a i:hover {
    transform: scale(1.1);
    color: crimson;
}




.btnturno {
    position: fixed;
    bottom: 8px;
    right: 8px;
    height: 100px;
    width: 100px;
    display: block;
    color: #ffffff;
    background-color: #0157c1;
    z-index: 100;
    border-radius: 100%;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);

}

.btnturno i {
    position: absolute;
    right: 35%;
    top: 25%;
    font-size: 35px;




}

.btnturno a {
    position: relative;
    top: 55px;
    left: 9px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
    padding-bottom: 50px;
    transition: transform .2s;
    line-height: 1.5rem;
    letter-spacing: 0.025cm;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;


}


.btnturno:hover {
    transform: scale(1.1);
    bottom: 12px;
    right: 12px;
    background-color:#002553;
    transition: all 1s;




}


.contenedorImgPrincipal {
    padding-top: 30px;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    z-index: 0;

}




.Imagen {
    position: absolute;
    width: 100%;
    height: 100%;





}

.textoBienve {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #00000059;
    


}

.textoprincipal{
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.8s ease-in-out;
    opacity: 0;
    
}


.textoBienve h1 {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 0;
    letter-spacing: 0.02em;
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}





.textoBienve h2 {
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 0.09rem;
    font-weight: 10;
    color: rgb(255, 255, 255);
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);

    margin: 20px;
}

.textoBienve h3 {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 60px;
    width: 70%;
    line-height: 1.7;

}

.botoninicio {
    padding: 15px 60px;
    border-style: none;
    border-radius: 30px;
    background-color: #0157c1;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.botoninicio:hover {
    background-color: #002b5f;
    transition: all 0.8s ease-in-out;
}

.botoninicio a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;

}



.contenedorTarjetas {

   

    position: absolute;
    width: 100%;
    height: 400px;

    top: 150%;
    
   
    
    /* 
    background-image: url("Imagenes/doctor-trabajo.jpg");
    background-size: cover;
    */
    transition: all 2s;





}

.cajatarjetas {
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    opacity: 0;
    transition: 4s;

}


.visible {
    opacity: 1;




}

.tarjetas {

    width: 300px;
    height: 450px;
    text-align: center;





}


.tarjetas i {
    color: #0157c1;
    font-size: 200px;



}

.tituloTarjeta {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #0088ff;

}

.textoTarjeta {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.819);
    line-height: 30px;

}

.tarjetas:hover {
    transform: scale(1.1);
}

.contenedorcontactos {
    display: flex;
    
    position: absolute;
    top: 250%;
   
    width: 100%;
    height: 100%;
    justify-content: center;


}

.contenedorformycontac {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    height: 80%;
    position: absolute;
    z-index: 1;

    
}

.contenedorform {

    
    min-width: 50%;
    max-width:  50%;
   max-height: 85%;
    background-color: #ffffff;
}

.formulario {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    height: 100%;

    padding: 20px;
}

.formulario input {
    
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid  #0157c12e;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    line-height: 35px;
    outline: none;
    padding: 20px 0;
}

.error{
    border-bottom: 2px solid  #c10101bd;
}

#errores {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
  
    padding: 0px;
    line-height: 3px;
    position: absolute;
    top: 65%;
    left: 52%;
   
   display: none;
   
   
   }
   #errores p {
    color: #ffffff;;
   }

   #enviado{
     position: absolute;
     display: none;
     align-items: center;
     justify-content: center;
     width: 150px;
     background-color: #00b400;
     left: 40%;
     bottom: 40%;
     padding: 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 15px;
     font-weight: 100;
     color: #ffffff;
     box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);

   }

.formulario textarea{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid  #0157c12e;
   width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    line-height: 35px;
    outline: none;
    height: 100px;

}
/*quitar foco con el outline*/
.formulario span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #0157c1;
    line-height: 40px;
    font-weight: bold;
}

.formulario div {
    display: inline;
    position: absolute;
    left: 0;
    top: 80px;
}

.formulario button{
    border-style: none;
    border-radius: 30px;
    background-color:#0157c1;
    
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 35px;

    
   margin-top: 10%;
   margin-bottom: 10%;
   margin-left: 30%;
   margin-right: 30%;
}


.contacto {
   
   max-height: 76.5%;
    min-width:  45.8%;
   
    padding: 20px;
    background-color: #0157c1;
    padding-top: 30px;




}

.contacto span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    font-weight: 100;
}

.contacto p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 35px;
}

.contacto div i {
    font-size: 25px;
    margin-right: 10px;
    color: #ffffff;
    padding-top: 20px;
    font-weight: 100;
    cursor: pointer;
}

.contacto div i:hover {
   transform: scale(1.1);
}

.banda{
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: bisque;
    bottom: 0;
    z-index: 0;
    padding-bottom: 70px;

    
}



body {
    margin: 0;
    padding: 0 0 0 0;
    border: 0;
    
    min-height: 100vh;
    


}

.basedepag{
    position: absolute;
    width: 100%;
    margin-top: auto;
    
    background-color: #0157c1;
    bottom: 0;
    padding: 0;
    
}

.primeralinea{
   display: flex;
   flex-direction: row;
   gap: 20px;
   justify-content: center;
  

   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   font-weight: 100;
   color: rgb(255, 255, 255);
   line-height: 35px;

   
}

.segundalinea{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 15px;
   font-weight: 100;
   color: rgb(255, 255, 255);
   line-height: 35px;
   
}

.basedepag p{
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 500px) {
   

    .contenedorMenu {
        visibility: visible;
    }

    .ContenedorImgYTxt {
        flex-direction: row;
        background-color: #0088ff;
        width: 100%;


    }

    .cajatext {
        width: 50%;
        height: 50%;
    }

    .cajaimg {
        width: 750px;
        height: 450px;
    }

    .Texto {
        text-shadow: none;

    }





    body {
        margin: 0;
        padding: 0 0 0 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

}

@media screen and (max-width: 500px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .lista {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }



    .navegador label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin-right: 15px;

    }

    #tresrayas:checked~.menu {
        max-height: 100%;

    }

    .lista a:hover {
        border-color: none;
        border-style: none;

        padding: none;
        margin-left: none;
        border-radius: none;
        background-color: #ffffff;
        color: rgba(0, 0, 0, 0.819);
        ;

    }

    
.contenedorImgPrincipal {
   
    height: 100%;
   
    

}

.contenedorImgPrincipal .Imagen{
    object-fit: cover;
    
}


    .contenedorTarjetas{
        
        
        
        flex-direction: column;
        
       
        

    }
    .cajatarjetas{
        position: absolute;
        flex-direction: column;
        height: auto;
    }

    .contenedorcontactos{
        position: absolute;
        margin-top: 700px;
    }

    .contenedorformycontac {
        width: 80%;
        height: 50%;
    }
   
    .contenedorform{
       width: 70%;
       height: 100%;
    }
    .contenedorform .formulario{
        width: 80%;
        padding: 20px;
    }

    .formulario input, .formulario span, .formulario textarea, .formulario label, .formulario div select{
        font-size: 11px;
        padding: 0;
    }
    .contacto{
        width: 30%;
        height: 91%;
        
    }
   

    .contacto p, .contacto span, .contacto div i{
        font-size: 11px;
        line-height: 20px;
    }


    .formulario button{
        width: 50%;
        height: 10%;
        
        margin-bottom: 20px;
       
        
    }
}