
.contenedorMenu{
    background: #ffffff58;
    width: 100%;
    position: fixed;
    z-index: 100;
    
    
}
.botonesMenu{
    
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    display: block; 
    padding: 9px;
    color:rgba(0, 0, 0, 0.819);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
    border-radius: 5px;
    letter-spacing: 0.025cm;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: transform .2s;
   
    
}
.botonLogo{
    float: left;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: transform .2s; 
    
}
.botonTurno{
    background-color: rgb(42, 182, 96);
    float: right;
    margin-right: 15px;
    display: block; 
    padding: 9px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
    border-radius: 5px;
    letter-spacing: 0.025cm;
    margin-top: 8px;
    margin-bottom: 8px;
}

.filaMenu{
    list-style: none;
    overflow: hidden; 
    display: inline;
}

.botonesMenu:hover{
    
    border-color: rgba(0, 118, 253, 0.305);
    border-style: solid;
    border-width: 4px;
    padding: 5px;
   
}

.botonTurno:hover{
    background-color: darkgreen;
}

.botonLogo:hover{
    transform: scale(1.1);
}


.separador{
    background-color: #ffffff;
    width: 100%;
    height: 64px;
}


.ContenedorImgYTxt{
   background-color: #0088ff;
   height: 400px;
   position: relative;
   
    
}

.Imagen{
    object-fit: cover;
}


.Texto{
    
    position: absolute;
    top: 40%;
    left: 50%;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin-right: 2%;
    margin-left: 3%;
    
   
}

.contenedorTarjetas{
    
    width: 100%;
    height: 400px;
    margin-top: 3%;

}
.tarjetas{
    
    position: relative;
    margin-right: 15%;
    margin-left: 4%;
    width: 17%;
    height: 100%;
    display: inline-flex;
    text-align: center;


}
.tarjetas2{
    
    position: relative;
    width: 17%;
    height: 100%;
    margin-left: 4%;
    display: inline-flex;
    text-align: center;


}

.tarjetaDeTxt{
    display: block;
    position: absolute;
    top: 60%;
    
}

.imgTarjeta{
    margin-left: auto;
    margin-right: auto;  
    transition: transform .2s; 
}

.tituloTarjeta{
    
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #0088ff;
    text-align: center;
    
}

.textoTarjeta{
    
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.819);
    text-align: center;
    
}

.imgTarjeta:hover{
    transform: scale(1.1);
}