
.contenedorMenu{
    background: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 100;
    visibility: collapse;
    
    
}


.contenedorMenu2{
    align-items: center;
   display: flex;
   position: fixed;
   top: 0;
   flex-direction: column;
    width: 100%;
    visibility: visible;
    background-color: #ffffff;
    z-index: 100;
    

}

.navMenu2{
    width:500%;
}

.botonesMenu2{
    background-color: #ffffff;
    color: #0088ff;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    line-height: 1.5rem;
    
    
}

.botonesMenu2:hover{
    background-color: #0088ff;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: #ffffff;
}


.botonesMenu{
    background-color: #ffffff;
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    display: block; 
    padding: 9px;
    color:rgba(0, 0, 0, 0.819);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
    border-radius: 5px;
    letter-spacing: 0.025cm;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: transform .2s;
   
    
}
.botonLogo{
    float: left;
    margin-left: 3px;
    margin-right: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: transform .2s; 
    
}

.imglogo{
    border-radius: 50%;
}
.botonTurno{
    background-color: rgb(42, 182, 96);
    float: right;
    margin-right: 15px;
    display: block; 
    padding: 9px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5rem;
    border-radius: 5px;
    letter-spacing: 0.025cm;
    margin-top: 8px;
    margin-bottom: 8px;
}

.filaMenu{
    list-style: none;
    overflow: hidden; 
    display: inline;
}

.botonesMenu:hover{
    
    border-color: rgba(0, 33, 70, 0.074);
    border-style: solid;
    border-width: 4px;
    padding: 5px;
    background-color: #0088ff;
    color: #ffffff;
    
   
}

.botonTurno:hover{
    border-color: rgba(16, 255, 44, 0.147);
    border-style: solid;
    border-width: 4px;
    padding: 5px;
    background-color: darkgreen;
}

.botonLogo:hover{
    transform: scale(1.1);
}




.ContenedorImgYTxt{
   
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color:#ffffff;
    
}

.cajatext{
    width: 100%;
    height: 100%;
    
    
    
    
}

.cajaimg{
    max-width: 750px;
    height: 350px;
    
}
.Imagen{

    
    width: 100%;
    height: 100%;

}


.Texto{
    
    position: absolute;
    top: 150px;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    text-shadow: 5px 5px 5px #000000;
    
   
}

.contenedorTarjetas{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 5%;
    justify-content: space-around;
    
    

}
.tarjetas{
    
    margin-top: 3%;
    width: 300px;
    text-align: center;

}


.imgTarjeta{
    
    
    transition: transform .2s;
    border-radius: 50%;
    
}

.tituloTarjeta{
    
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #0088ff;
    
}

.textoTarjeta{
    
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.819);
    line-height: 30px;
    
}

.imgTarjeta:hover{
    transform: scale(1.1);
}

.contenedorSm2{
    text-align: center;
    margin-top: 5%;
}

.tituloSm2{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #0088ff;
}

.textoSm2{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.819);
    line-height: 30px;
}

.fraseSm2{
    margin-top: 3%;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #0188ff;
    line-height: 30px;

}


.contenedorfooterxl{
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 5%; 
    justify-content: space-around;
    background-color: #000e1a;

}

.contenedordires{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: dimgrey;
    width: 300px;
    line-height: 20px;

}


.titulof {
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #0088ff;

   
}



.imgfooter{
    border-radius: 100%;   
    margin-top: 3%;
    margin-bottom: 3%;

}

.imgwsp{
    transition: transform .2s; 
}

.imgwsp:hover{
    transform: scale(1.1);

}

body{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


@media screen and (min-width: 500px) {
    .contenedorTarjetas {
        
        flex-direction: row;
        
        
    }

    .contenedorMenu {
        visibility: visible;
    }

    .ContenedorImgYTxt {
        flex-direction: row;
        background-color: #0088ff;
        width: 100%;
    }
   
    .cajatext{
        width: 50%;
        height: 50%;
    }

    .cajaimg{
        width: 750px;
        height: 450px;
    }

    .Texto{
        text-shadow: none;
        
    }

    .contenedorfooterxl{

        flex-direction: row;

    }

   .contenedorMenu2{
    display: flex;
    position: absolute;
    top: 0;
    flex-direction: row;
    width: 100%;
    visibility: hidden;
   }
    
  }