body {
    margin: 0;
    padding: 0 0 0 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*estilo del formulario*/



.contenedorformycontac2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;

    
}

.contenedorTurnos{
    position: absolute;
    display:flex;
    align-items: center;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
    
    min-width: 60%;
    
    max-height: 80%;
}

.contenedorform2 {
    
    min-width: 50%;
    max-width:  50%;
   max-height: 80%;
    background-color: #ffffff;
}
.contacto2 {
   
    
    
    height: 80%;
    min-width:  45.8%;
   
    padding: 20px;
    background-color: #0157c1;
    padding-top: 30px;





}
.formulario2 {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    

    padding: 20px;
   
}



.formulario2 span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #0157c1;
    line-height: 40px;
    font-weight: bold;
}
.formulario2 input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid  #0157c12e;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    line-height: 35px;
    outline: none;
 
}
.labels{
    display: flex;
    flex-direction: row;
    
    gap: 47%;
    
}


.selects{
    display: flex;
    flex-direction: row;
    
    gap: 35%;
}
.formulario2 div label{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.767);
    line-height: 35px;

}

.formulario2 div select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    line-height: 35px;
    outline: none;
}

/*quitar foco con el outline*/


.formulario2 button{
    border-style: none;
    border-radius: 30px;
    background-color:#0157c1;
    
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 35px;

    
   margin-top: 10%;
   margin-left: 30%;
   margin-right: 30%;

   
   
}

.formulario2 button:hover{
    background-color: rgb(0, 198, 238);
    transition: all 0.8s ease-in-out;
}



.contacto2 span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    font-weight: 100;
}

.contacto2 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 35px;
}

.contacto2 div i {
    font-size: 25px;
    margin-right: 10px;
    color: #ffffff;
    padding-top: 20px;
    font-weight: 100;
    cursor: pointer;
}

.contacto2 div i:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 500px) {

    .contenedorTurnos{
        width: 100%;
        flex-direction: column-reverse;
        box-shadow: none;
        
       
    }

   .formulario2 div{
    justify-content: center;
   }

   .selects{
    gap: 0;
    
   }
   .labels{
    gap:10%
   }

   
}

